  #slot1, #slot2, #slot3, #slot4 {
    color: Yellow;
    background: grey;
    font-family: "Arial";
    font-size: 50px;
    width: 150px;
    height: 150px;
    text-align:center;
    margin-right:3%;
    margin-top:1%

  }
  h1 {
    text-align:center;

  }
  #input {
    font-family: "Arial";
    font-size: 30px;
    width: 150px;
    text-align:center;
    margin-right:3%;
    margin-top:1%
  }